PORT=8787
HOST=127.0.0.1

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=live_infinity
DB_USER=liveinfinity
DB_PASSWORD=COLOQUE_SUA_SENHA_DO_MYSQL

ADMIN_USER=admin
ADMIN_PASSWORD=TROQUE_POR_UMA_SENHA_FORTE

PUBLIC_BASE_URL=https://admin.valoranegocios.com.br
