PORT=8787
HOST=127.0.0.1

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=live_infinity
DB_USER=liveinfinity
DB_PASSWORD=COLOQUE_SUA_SENHA_DO_MYSQL

ADMIN_USER=admin
ADMIN_PASSWORD=TROQUE_POR_UMA_SENHA_FORTE

PUBLIC_BASE_URL=https://admin.valoranegocios.com.br

CAKTO_CAPTURE_ONLY=true
CAKTO_CHECKOUT_BASIC=3477jz3_976117
CAKTO_CHECKOUT_PRO=387ye5s_982831
CAKTO_CHECKOUT_PREMIUM=3b3y7bp_982839
CAKTO_WEBHOOK_SECRET=TROQUE_POR_UM_SEGREDO_FORTE
